*.exe
*.dll
*.so
*.dylib
*.test
*.out
.idea/
.vscode/
node_modules/
vendor/
*.log
*.env
*.env.local
*.env.*.local
*.DS_Store
*.sublime-project
*.sublime-workspace
*.swp
*~
.github/
.DS_Store
Thumbs.db
.directory
go.sum
go.mod
bin/
build/
*.tmp
*.temp
